<div class="modal-header">
    <h4 class="modal-title">Update Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form #updatePasswordForm="ngForm" (ngSubmit)="updatePassword(updatePasswordForm)">
        <input type="hidden" class="form-control" [(ngModel)]="user.id" name="userId"value="{{user.id}}"/>
        <input type="hidden" class="form-control" [(ngModel)]="user.firstName" name="firstName"value="{{user.firstName}}"/>
        <input type="hidden" class="form-control" [(ngModel)]="user.lastName" name="lastName"value="{{user.lastName}}"/>
        <input type="hidden" class="form-control" [(ngModel)]="user.type" name="type"value="{{user.type}}"/>
          <div class=row>
            <label class="col-3 offset-1"for="current">Current Password</label>
            <input type="password" class="form-control col-4" [(ngModel)]="current" name="current"value="{{current}}"/>
            <label class="col-3 ml-auto error" for="current">{{currentError}}</label>   
          </div>
          <br>
          <div class="row">
            <label class="col-3 offset-1" for="new1">New Password:</label>
            <input type="password" class="form-control col-4" [(ngModel)]="new1" name="new1"value="{{new1}}"/>
            <label class="col-3 ml-auto error"for="new1">{{newError1}}</label>
          </div>
          <br>
          <div class="row">
            <label class="col-3 offset-1" for="new2">Confirm Password:</label>
            <input type="password" class="form-control col-4" [(ngModel)]="new2" name="new2"value="{{new2}}"/>
            <label class="col-3 ml-auto error"for="new2">{{newError2}}</label>
          </div>
      </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="updatePassword(updatePasswordForm)">Update</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
