<nav ngbNav #nav="ngbNav" class="navbar-light navbar-toggler">
    <img src="assets/JERC-basic.png" height="40px"/>
    
    <div class="ml-auto">
        <div ngbDropdown class="d-inline-block " placement="bottom-right auto">
          <button class="btn btn-outline-none" style="background-color: transparent;"id="dropdownBasic1" ngbDropdownToggle>Username</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Settings</button>
            <button ngbDropdownItem>Logout</button>
            
          </div>
        </div>
    </div>
</nav>

<span><button class="student" (click) = selectDisplay(userArray[0])>Student</button></span> 
<span><button class="teachers" (click) = selectDisplay(userArray[1])>Teachers </button></span> 
<span><button class="classes" (click) = selectDisplay(userArray[2]) >Classes</button></span>

<div class="display">
  
<app-display [user] = "user">

</app-display></div>
