<nav ngbNav #nav="ngbNav" class="navbar-light navbar-toggler">
  <img src="assets/JERC-basic.png" height="40px"/>
  
  <div class="ml-auto">
      <div ngbDropdown class="d-inline-block " placement="bottom-right auto">
        <button class="btn btn-outline-none" style="background-color: transparent;"id="dropdownBasic1" ngbDropdownToggle>{{username}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="openModal()">Change Password</button>
          <button ngbDropdownItem (click)="logout()">Logout</button>
          
        </div>
      </div>
  </div>
</nav>
<br>
<br>
<div class="col-8 offset-2 title">
  <div class="d-flex">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="horizontal">
      <li ngbNavItem="Student">
        <a ngbNavLink>Student</a>
        
      </li>
      <li ngbNavItem="Teacher">
        <a ngbNavLink>Teacher</a>
        
      </li>
      <li ngbNavItem="Class">
        <a ngbNavLink>Class</a>
        
      </li>
    </ul>
  
    
  </div>
</div>
<br>
<div class="col-8 offset-2">
  <div *ngIf="active=='Student'">
    <app-admin-student [studentList]="studentList" (studentListChange)="updateStudentList($event)"></app-admin-student>
  </div>
  <div *ngIf="active=='Teacher'">
    <app-admin-teacher [teacherList]="teacherList" (teacherListChange)="updateClassList($event)"></app-admin-teacher>
  </div>
  <div *ngIf="active=='Class'">
    <app-admin-class [classList]="classList" [teacherList]="teacherList" [studentList]="studentList" (classListChange)="updateClassList($event)"></app-admin-class>
  </div>

</div>
