<div *ngIf="user">
    <div class="modal-header">
        <h4 class="modal-title">User Created</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Type: {{user.type}}</p>
          <p>Id: {{user.id}}</p>
          <p>Password: {{user.password}}</p>
          <p>First name: {{user.fName}}</p>
          <p>Last Name: {{user.lName}}</p>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
      </div>
</div>
<div *ngIf="!user">
    <div class="modal-header">
        <h4 class="modal-title">User Created</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>There was an error creating this user. Please try again</p>          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
      </div>
</div>
