<div class="center">
    <h2>{{class.ClassName}}</h2>  
</div>
<div class="center">
    <h5>{{class.TeacherName}}</h5>
</div>

<br>
<br>
<div>
    <div id="tests-label" (click)="testCollapsed=!testCollapsed">
        <p>Test List</p>
    </div>
    <div [ngbCollapse]="testCollapsed">
        <div class="offset-1">
            <div *ngFor = "let assignment of class.AssignmentList">
                <div *ngIf="assignment.Type=='test'">
                    <app-assignment-view></app-assignment-view>
                </div>
                
            </div>
        </div>
    </div>
    <div id="quiz-label" (click)="quizCollapsed=!quizCollapsed">
        <p>Quiz</p>
    </div>
    <div [ngbCollapse]="quizCollapsed">
        <div class="offset-1">
            <div *ngFor = "let assignment of class.AssignmentList">
                <div *ngIf="assignment.Type=='quiz'">
                    <app-assignment-view></app-assignment-view>
                </div>
                
            </div>
        </div>
    </div>
    <div id="homework-label" (click)="homeworkCollapsed=!homeworkCollapsed">
        <p>Homework</p>
    </div>
    <div [ngbCollapse]="homeworkCollapsed">
        <div class="offset-1">
            <div *ngFor = "let assignment of class.AssignmentList">
                <div *ngIf="assignment.Type=='homework'">
                    <app-assignment-view></app-assignment-view>
                </div>
                
            </div>
        </div>
    </div>
    <div id="participation-label" (click)="participationCollapsed=!participationCollapsed">
        <p>Participation</p>
    </div>
    <div [ngbCollapse]="participationCollapsed">
        <div class="offset-1">
            <div *ngFor = "let assignment of class.AssignmentList">
                <div *ngIf="assignment.Type=='participation'">
                    <app-assignment-view></app-assignment-view>
                </div>
                
            </div>
        </div>
    </div>

</div>
