
<div class="col-8 offset-2 center">
    <form class="text-center">
        <div >
            <!-- <label for="username">Username: </label> -->
            <input type = "text" name = "username" placeholder="Username"/>
        </div>
        
        
        <div>
            <!-- <label for="password">Password: </label> -->
            <input type = "password" name = "password" placeholder = "Password"/>
            
        </div>

        <button class="btn-primary">Submit</button>
    </form>
</div>
    
    

    

