
<div class="col-8 offset-2 center">
    <form class="text-center">
        <div>
            <img src="assets/JERC.png"/>
        </div>
        <div >
            <!-- <label for="username">Username: </label> -->
            <input type = "text" name = "username" placeholder="Username"/>
        </div>
        
        
        <div>
            <!-- <label for="password">Password: </label> -->
            <input class="lg" type = "password" name = "password" placeholder = "Password"/>
            
        </div>
        <br>
        <button class="btn-primary btn-lg">Submit</button>
    </form>     
    
</div>
    
    

    

