# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Revature Projects\Project2-Gradebook\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
